{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true
}
